.mission-content {
    font-size: 14px;
}

.font-size20 {
    font-size: 20px;
}

.mission {
    width: 50%;
}

.nav-below {
    margin-top: 50px;
    padding: 25px;
}

.mission-image {
    position: absolute;
    width: 182px;
    height: 149px;
    right: 0px;
    bottom: 0px;
}
#videosection {
    margin-top: 50px;
}
@media only screen and (min-width: 1200px) {
    .control-box .lft {
        float: left;
        position: absolute;
        right: 1110px;
        top: 100px;
        border-radius: 60px;
        box-shadow: 0px 4px 9px 2px lightgrey;
    }
    
   .control-box .rght {
        float: right;
        position: absolute;
        left: 1150px;
        top: 100px;
        border-radius: 60px;
        box-shadow: 0px 4px 9px 2px lightgrey;
    }
}
@media only screen and (max-width: 768px) {
    .crouselsection {
        text-align: center;
    }
}

/*end of digital-collab*/