/*--------------- Body ------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000;
    overflow-x: hidden;
}

@media only screen and (max-width: 767px) {
    #navbar {
        background-color: white;
    }
    .navbar {
        padding: 0px !important;
    }
    #navbar ul li a {
        color: black
    }
}


/*--------------- wrapper --------------------*/
.black-main-menu li a {
    color: black !important;
    margin-top: 10px;
}
.main-menu li a {
    font-size: 14px !important;
    margin-top: 8px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}


/*--------------- colors ---------------------*/

.blue {
    color: #3fb1c3;
}

.green {
    color: #81be42;
}

.red {
    color: #f0592c;
}

.yellow {
    color: #fcb615;
}

.dark-red {
    color: #ec5528;
}


/* -------------- font-sizes ------------------*/

h1 {
    font-size: 64px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 27px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 18px;
}

li {
    list-style-type: none;
}

.pointer {
    cursor: pointer;
}

.orange {
    color: rgb(255, 165, 0);
}

.common-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.icon-box19:hover {
    box-shadow: 0px 13px 36px rgba(0, 0, 0, 0.23);
    transform: translateY(-8px);
    cursor: pointer;
}

.icon-box19 {
    text-align: center;
    transition: all .22s ease;
}

.blog .post-content {
    padding: 22px 15px;
}

.blog .entry-title {
    font-size: 1em;
    font-weight: 700;
}

.blog .entry-title a {
    color: #333333;
}

.blog .entry-title a:hover {
    color: #e74c3c !important;
}

p,
a {
    font-size: 15px;
}

.small-text {
    font-size: 10px;
}


/*stcky navbar*/

.main-menu li a:after {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: absolute;
    height: 1px;
    top: 100%;
    margin-top: 7px;
    content: '';
    left: 0;
    right: 100%;
    /*background-color: #ffffff;*/
}

.main-menu li a:hover,
.main-menu li a.current {
    /*color: #fff;*/
}

.hoverclr li a:hover {
    color: #000000;
}

.main-menu li a:hover:after,
.main-menu li a.current:after {
    right: 0;
}

.navbar.navbar-fixed-top.fixed-theme .main-menu li a:after {
    display: none;
}

.nav-top {
    min-height: 30px !important;
    text-align: center;
    background-color: #60646d;
    padding: 8px;
    color: white;
}

.nav-top h5 {
    color: #bbbfc9;
}

.nav-top span {
    color: white;
}

.more {
    padding: 6px 12px;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .nav-top {
        height: 60px;
        padding-top: 14px;
    }
    .mediaInvisible {
        display: none;
    }
}

.navbar-header span {
    color: black;
    background-color: white;
}

.navbar-header button {
    border: 1px solid white;
}

.fixed-theme .navbar-header span {
    color: black;
    background-color: black;
}

.fixed-theme .navbar-header button {
    border: 1px solid black;
}

.parent-container {
    z-index: 10;
    display: flex;
    justify-content: center;
}

.child-container {
    align-self: center;
    border-radius: 8px;
}


/*
* Style tweaks
* --------------------------------------------------
*/

.nv-top {
    background-color: transparent;
}


/*
 * Custom styles
 */

.navbar {
    padding: 0px 36px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 10px 0 10px 0;
}
.home-navbar-container{
    padding: 20px 0px 20px 0px;
}
.navbar.navbar-fixed-top.fixed-theme {
    background-color: white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    color: black !important;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}


/*.withoutshrink img{
  margin-top: -31px;height:75px; width:120px;
}*/

.shrink {
    height: 53px;
    width: 133px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

.nav>li>a {
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 17px;
}

.fixed-theme .navbar-collapse ul li a {
    color: black !important;
}

.container .navbar-container .fixed-theme .main-menu ul li a {
    color: black !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent !important;
    border-color: #337ab7;
}

#brand img {
    width: 159px;
    height: 55px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#index-logoBrand {
    height: 47px !important;
}

#logoBrand-black {
    height: 53px;
    width: 133px;
}

#brand1 img {
    width: 159px;
    height: 49px;
    color: white;
    font-family: 'Roboto', sans-serif;
}


/*.fixed-theme #brand img {
    background-image: url(images/digi-blk.png);
    display: none;
}
.fixed-theme #brand {
    background-image: url(images/digi-blk.png);
}*/

.display-none {
    display: none;
}

.section-top {
    padding: 18px 0px;
}

.section-description {
    color: black;
    font-size: 17px;
}

.section-padding {
    padding: 30px;
}


/*--------------- footer ---------------------*/

.footer-padding {
    padding: 30px 80px;
}

.footer {
    padding: 20px 0 0;
    background-color: #092121;
    color: white;
    line-height: 24px;
}

.footer .footer-links {
    padding-bottom: 20px;
}

.footer .footer-terms p {
    margin: 0;
    padding: 15px 0;
}

.footer p {
    font-size: 12px;
    margin-bottom: 15px;
}

.footer p span.head {
    color: #fcb615;
}

.footer h6 {
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.footer .social li {
    display: inline-block;
}

.footer .social li a {
    background: #000;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 40px;
    padding: 9px;
    text-align: center;
    width: 40px;
    font-size: 14px;
}

.footer .links li a {
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
}

.footer .links li a .fa {
    padding-right: 15px;
}

.footer .form-group label {
    color: #fcb615;
}

.footer .form-group .form-control {
    background: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-top: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.footer .form-group .form-control:focus {
    box-shadow: none;
}

.footer .btn.btn-default {
    background: #fa5900;
    color: #fff;
    border: none;
    height: 38px;
    border-radius: 0;
    width: 100px;
    text-transform: uppercase;
}

.footer .footer-terms {
    border-top: 1px solid #2e3437;
}


/*----------------------------*/


/*
block-section*/

.site-index-case-study {
    display: block;
    position: relative;
}

@media only screen and (width: 768px) {
    .site-index-case-study {
        height: 430px;
    }
}

@media only screen and (min-width: 768px) {
    .site-index-case-study {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media only screen and (min-width: 481px) {
    .site-index-case-study {
        background-color: transparent;
    }
}

.site-index-case-study .site-index-case-study-image {
    position: relative;
}

.site-index-case-study .site-index-case-study-image .bg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    max-height: none;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

@media only screen and (min-width: 1201px) {
    .site-index-case-study .site-index-case-study-image .bg {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 768px) {
    .site-index-case-study .site-index-case-study-image .bg {
        max-width: 800px;
    }
}

.site-index-case-study:nth-child(odd),
.site-index-case-study:nth-child(odd) .site-index-case-study-copy {
    background-color: #282828;
    color: #ffffff;
}

.site-index-case-study:nth-child(odd) .arrow-link,
.site-index-case-study:nth-child(odd) .site-index-case-study-copy .arrow-link {
    color: inherit;
}

.site-index-case-study:nth-child(even),

/*.site-index-case-study:nth-child(even) .site-index-case-study-copy {
    color: #9ba2ad;
}*/

.site-index-case-study:nth-child(even) .arrow-link {
    color: #282828;
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(even) .site-index-case-study-copy {
        padding-right: 8.25vw;
        padding-left: 8.25vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(even) .site-index-case-study-copy {
        padding-right: 132px;
        padding-left: 132px;
    }
}

.site-index-case-study h4 {
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 767px) {
    .site-index-case-study h4 {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study h4 {
        margin-top: 0;
        margin-bottom: 2.43vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study h4 {
        margin-top: 0;
        margin-bottom: 38.88px;
    }
}

.site-index-case-study p {
    font-size: 24px;
    line-height: 1.3;
}

@media only screen and (max-width: 480px) {
    .site-index-case-study p {
        font-size: 4.69vw;
        font-family: "Swiss 721 W01 Medium", Helvetica, Arial, sans-serif;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-index-case-study p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1230px) {
    .site-index-case-study p {
        font-size: 1.95vw;
        /*width: 21.875vw; // At 1230px wide viewport, approximately: 350px*/
    }
}

@media only screen and (min-width: 1231px) {
    .site-index-case-study p {
        width: 350px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 923px) {
    .site-index-case-study .arrow-link {
        font-size: 1.95vw;
    }
}

@media only screen and (width: 768px) {
    .site-index-case-study:first-child .site-index-case-study-image {
        width: 440px;
        height: 430px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:first-child .site-index-case-study-image {
        width: 57.29vw;
        height: 55.99vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:first-child .site-index-case-study-image {
        width: 57.29vw;
        height: 895.83px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:first-child .site-index-case-study-copy {
        width: 42.71vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:first-child .site-index-case-study-copy {}
}

.site-index-case-study:first-child .site-index-case-study-copy .site-index-case-study-copy-center {
    top: 40%;
    -moz-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
}

.site-index-case-study:first-child h4 {
    background-image: url("../images/site/site-index-case-studies/case-studies-adobe-logo.png");
}

@media only screen and (max-width: 480px) {
    .site-index-case-study:first-child h4 {
        width: 33.44vw;
        height: 7.81vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-index-case-study:first-child h4 {
        width: 108px;
        height: 25px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:first-child h4 {
        width: 14.06vw;
        height: 3.26vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:first-child h4 {
        width: 225px;
        height: 52.08px;
    }
}

@media only screen and (width: 768px) {
    .site-index-case-study:nth-child(2) .site-index-case-study-image {
        width: 440px;
        height: 475px;
        margin-top: -45px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(2) .site-index-case-study-image {
        width: 57.29vw;
        height: 53.63vw;
        margin-top: -3.77vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(2) .site-index-case-study-image {
        width: 57.29vw;
        height: 858.08px;
        margin-top: -60.32px;
    }
}

.site-index-case-study:nth-child(2) .site-index-case-study-copy {
    background: #ffffff;
}

.site-index-case-study:nth-child(2) .site-index-case-study-copy .site-index-case-study-copy-center {
    transform: translateY(-50%) translateY(-2.605vw);
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(2) .site-index-case-study-copy .site-index-case-study-copy-center {
        transform: translateY(-50%) translateY(-41.68px);
    }
}

@media only screen and (min-width: 768px) {
    .site-index-case-study:nth-child(2) .site-index-case-study-copy {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(2) .site-index-case-study-copy {
        width: 42.71vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(2) .site-index-case-study-copy {
        width: 42.71vw;
    }
    .site-index-case-study:nth-child(2) .site-index-case-study-copy h2 {
        background-size: 250.078px 113.33px;
    }
    .site-index-case-study:nth-child(2) .site-index-case-study-copy h2,
    .site-index-case-study:nth-child(2) .site-index-case-study-copy p {
        display: block;
        margin-right: 69px;
        margin-left: auto;
    }
    .site-index-case-study:nth-child(2) .site-index-case-study-copy .arrow-link {
        display: inline-block;
    }
}

.site-index-case-study:nth-child(2) h4 {
    background-image: url("../images/site/site-index-case-studies/case-studies-fossil-logo.png");
}

@media only screen and (max-width: 480px) {
    .site-index-case-study:nth-child(2) h4 {
        width: 33.75vw;
        height: 15.31vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-index-case-study:nth-child(2) h4 {
        width: 120px;
        height: 58px;
    }
}

@media only screen and (min-width: 769px) {
    .site-index-case-study:nth-child(2) h4 {
        margin-top: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(2) h4 {
        width: 15.63vw;
        height: 7.55vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(2) h4 {
        width: 250px;
        height: 120.83px;
    }
}

@media only screen and (width: 768px) {
    .site-index-case-study:nth-child(3) .site-index-case-study-image {
        width: 440px;
        height: 470px;
        margin-top: -40px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(3) .site-index-case-study-image {
        width: 57.29vw;
        height: 61.20vw;
        margin-top: -5.21vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(3) .site-index-case-study-image {
        width: 57.29vw;
        height: 979.2px;
        margin-top: -83.36px;
    }
}

.site-index-case-study:nth-child(3) .site-index-case-study-copy .site-index-case-study-copy-center {
    transform: translateY(-50%);
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(3) .site-index-case-study-copy {
        width: 42.71vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(3) .site-index-case-study-copy {}
}

.site-index-case-study:nth-child(3) h4 {
    background-image: url("../images/site/site-index-case-studies/case-studies-outside-logo.png");
}

@media only screen and (max-width: 480px) {
    .site-index-case-study:nth-child(3) h4 {
        width: 41.56vw;
        height: 10.63vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-index-case-study:nth-child(3) h4 {
        width: 133px;
        height: 39px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(3) h4 {
        width: 17.32vw;
        height: 5.08vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(3) h4 {
        width: 277.08px;
        height: 81.25px;
    }
}

@media only screen and (width: 768px) {
    .site-index-case-study:nth-child(4) {
        margin-top: -40px;
    }
}

@media only screen and (width: 768px) {
    .site-index-case-study:nth-child(4) .site-index-case-study-image {
        width: 440px;
        height: 390px;
        -webkit-align-self: flex-end;
        -ms-flex-align: flex-end;
        align-self: flex-end;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(4) .site-index-case-study-image {
        width: 57.29vw;
        height: 50.78vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(4) .site-index-case-study-image {
        width: 57.29vw;
        height: 812.5px;
    }
}

.site-index-case-study:nth-child(4) .site-index-case-study-copy {
    background: #ffffff;
}

.site-index-case-study:nth-child(4) .site-index-case-study-copy .site-index-case-study-copy-center {
    transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
    .site-index-case-study:nth-child(4) .site-index-case-study-copy {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(4) .site-index-case-study-copy {
        width: 42.71vw;
        margin-top: -5.21vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(4) .site-index-case-study-copy {
        width: 42.71vw;
        margin-top: -83.36px;
    }
    .site-index-case-study:nth-child(4) .site-index-case-study-copy h2,
    .site-index-case-study:nth-child(4) .site-index-case-study-copy p {
        display: block;
        width: 328px;
        margin-right: 115px;
    }
}

.site-index-case-study:nth-child(4) h4 {
    background-image: url("../images/site/site-index-case-studies/case-studies-ciena-logo.png");
}

@media only screen and (max-width: 480px) {
    .site-index-case-study:nth-child(4) h4 {
        width: 32.19vw;
        height: 10.31vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-index-case-study:nth-child(4) h4 {
        width: 103px;
        height: 33px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study:nth-child(4) h4 {
        width: 13.41vw;
        height: 4.30vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study:nth-child(4) h4 {
        width: 214.58px;
        height: 68.75px;
    }
}

.site-index-case-study-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@media only screen and (max-width: 480px) {
    .site-index-case-study-image {
        width: 100%;
        height: 93.75vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .site-index-case-study-image {
        width: 100%;
        height: 450px;
    }
}

.site-index-case-study-copy {
    position: relative;
}

.site-index-case-study-copy .site-index-case-study-copy-center {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: inherit;
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .site-index-case-study-copy .site-index-case-study-copy-center {
        position: relative;
        top: auto;
        transform: none !important;
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .site-index-case-study-copy {
        position: relative;
    }
}

@media only screen and (max-width: 480px) {
    .site-index-case-study-copy {
        width: 85.94vw;
        margin: -12.5vw auto auto;
        padding: 36vw 6vw;
        text-align: center;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .site-index-case-study-copy {
        width: 412.5px;
        margin: -60px auto auto;
        padding: 27.5px 28.8px 57.5px;
        text-align: center;
    }
}

@media only screen and (width: 768px) {
    .site-index-case-study-copy {
        width: 328px;
        padding: 75px 35px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1600px) {
    .site-index-case-study-copy {
        padding: 9.77vw 8.125vw;
    }
}

@media only screen and (min-width: 1601px) {
    .site-index-case-study-copy {
        padding: 156.32px 130px;
    }
}


/**
 * = Events
 */

.site-index-events {
    text-align: center;
    padding: 115px 80px 135px;
    background-color: rgba(155, 162, 173, 0.15);
}

@media only screen and (max-width: 480px) {
    .site-index-events {
        padding: 10.42vw 7.29vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-index-events {
        padding: 70px 30px;
    }
}

.site-index-events a:link,
.site-index-events a:hover,
.site-index-events a:active,
.site-index-events a:visited {
    color: #282828;
}

.site-index-events .summit-logo {
    width: 275px;
}

.site-index-events-image {
    background-image: url("../images/site/site-index-events/site-index-events.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
    max-width: 1040px;
    height: 450px;
}

@media only screen and (max-width: 480px) {
    .site-index-events-image {
        height: 86.24vw;
        margin-top: 10.94vw;
        margin-bottom: 10.94vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-index-events-image {
        height: 300px;
        margin-top: 35px;
        margin-bottom: 45px;
    }
}

.event-description {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.event-description h2 {
    font-size: 62px;
    font-weight: bold;
    color: #ffffff;
    margin: 40px auto 30px;
}

@media only screen and (max-width: 768px) {
    .event-description h2 {
        font-size: 32px;
        margin: 20px auto 15px;
    }
}

.event-description p {
    font-size: 30px;
    font-weight: lighter;
    color: #ffffff;
    margin: 0 auto;
    max-width: 630px;
    padding: 0 15px;
}

.nav li a {
    padding-right: 22px;
}

@media only screen and (max-width: 768px) {
    .event-description p {
        font-size: 18px;
    }
}

#header {
    background-color: transparent;
    color: #fff;
}

.post-thumbnail .caption {
    position: absolute;
    top: 100px;
    left: 72px;
}

.post-thumbnail .caption a {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
}

.type-post {
    border-radius: 24px;
}

.post-thumbnail img {
    width: 100%
}


/*carousel*/

.bs-slider {
    overflow: hidden;
    /*max-height: 700px;*/
    height: 100% position: relative;
    background: #000000;
}

.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}

.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}


/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}

.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

.fade .item:first-child {
    top: auto;
    position: relative;
}

.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}


/*@media only screen and (min-width: 590px) and (max-width: 991px) {
    .post-thumbnail .caption {
        position: absolute;
        top: 195px;
        left: 210px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 591px) {
    .post-thumbnail .caption {
        position: absolute;
        top: 142px;
        left: 150px;
    }
}*/


/*@media only screen and (min-width: 420px) and (max-width:793px) {
    .post-thumbnail .caption {
    position: absolute;
    top: 173px;
    left: 222px;
}
    }*/

.slider-button {
    border: 1px solid #fff;
    width: 160px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
}


/*.slider-button:hover {
    background-color: #E74C3C;
    color: #fff;
    transform: translateZ(0);
    transition: all 0.31s ease;
}*/

.bgacademy:hover {
    background-color: rgba(182, 211, 239, 0.5);
    color: #fff;
    transform: translateZ(0);
    transition: all 0.31s ease;
}

.bgcollab:hover {
    background-color: #203E25;
    color: #fff;
    transform: translateZ(0);
    transition: all 0.31s ease;
}

.bgred:hover {
    background-color: #984C3E;
    color: #fff;
    transform: translateZ(0);
    transition: all 0.31s ease;
}

.slider-button> a {
    color: #fff;
}

.slider-button a:hover {
    color: #fff;
}


/*---------- LEFT/RIGHT ROUND CONTROL ----------*/

.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.control-round:hover .carousel-control {
    opacity: 1;
}

.control-round .carousel-control.left {
    left: 1%;
}

.control-round .carousel-control.right {
    right: 1%;
}

.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover {
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    border: 0px transparent;
}

.control-round .carousel-control.left>span:nth-child(1) {
    left: 45%;
}

.control-round .carousel-control.right>span:nth-child(1) {
    right: 45%;
}


/*---------- INDICATORS CONTROL ----------*/

.indicators-line > .carousel-indicators {
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}

.indicators-line > .carousel-indicators li {
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(158, 158, 158);
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: rgb(158, 158, 158);
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
    z-index: 10;
    cursor: pointer;
}

.indicators-line > .carousel-indicators li:last-child {
    margin-right: 0;
}

.indicators-line > .carousel-indicators .active {
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #fff;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.indicators-line > .carousel-indicators .active:before {
    transform: scale(0.5);
    background-color: #fff;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}


/*---------- SLIDE CAPTION ----------*/

.slide_style_left {
    text-align: left !important;
}

.slide_style_right {
    text-align: right !important;
}

.slide_style_center {
    text-align: center !important;
}

.slide-text {
    left: 0;
    top: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
}

.slide-text > h1 {
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.slide-text > a.btn-default {
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slide-text > a.btn-primary {
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #00bfff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}


/*------------------------------------------------------*/


/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {
        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/

@media (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control {
        display: none;
    }
}

@media (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default,
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators {
        display: none;
    }
}

@media only screen and (min-width:width: 515px) and (max-width: 793px) {
    .post-thumbnail .caption {
        position: absolute;
        top: 191px;
        left: 217px;
    }
}

input {
    background: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-top: none;
    border-bottom: 1px solid #fff;
    color: red;
}


}

/*capabilities*/
.blog .post-content {
    padding: 22px 15px;
}
.blog .entry-title {
    font-size: 1em;
    font-weight: 700;
}
.blog .entry-title a {
    color: #333333;
}
.blog .entry-title a:hover {
    color: #e74c3c !important;
}
.latest-projects .btn-container,
.blog .btn-container {
    padding-top: 28px;
}
.latest-projects .btn,
.blog .btn {
    border: 2px solid #e74c3c;
    padding: 13px 30px;
}
.latest-projects .btn:hover,
.blog .btn:hover {
    background-color: #000000;
    color: #ffffff;
}
.entry-content {
    color: black;
}
.post-content .btn {
    border: 2px solid #000000;
    color: black;
}
#hoverclr li {
    padding-top: 10px;
    /*font-family: Nexa;*/
}
.We-customize-and-cre {
    text-align: center;
    color: #ffffff;
    font-size: 15px !important;
}
@media only screen and (width: 768px) {
    .nav li a {
        padding-right: 5px;
    }
}
@media only screen and (max-width: 470px) {
    .bs-slider > .carousel-inner > .item > img,
    .bs-slider > .carousel-inner > .item > a > img {
        margin: auto;
        height: 340px;
        width: 100% !important;
    }
}

/*digital-collab page*/
.mission,
.vision {
    /*  box-shadow: 5px 5px 14px 7px lightgrey;
    overflow: hidden;*/
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 7px lightgray;
}

/*end of digital-collab*/
.course-banner {
    color: white !important;
    padding: 100px;
}
.social-icons ul li {
    float: left;
    padding: 0px 15px;
}
.social-icons ul li img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.social-icons {
    text-align: center;
}
.course-icon {
    height: 80px;
}
.course-icon img{
    height: 35px;
}