<!DOCTYPE html>
<html lang="en" ng-app="basic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Academy | Digital-lync</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/academy-style.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed black" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="../index.html" style="padding: 0px;margin: 0px;"><img id="logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab</a></li>
                            <li><a href="product.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>
                    <li class="dropdown social-icons">
                        <ul id="social-icons-black">
                            <li>
                                <a href="https://www.facebook.com/digitallync/"><img class="img-responsive icon-box19" src="../images/facebook-black.png"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/digitallync/"><img class="img-responsive icon-box19" src="../images/twitter-black.png"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company-beta/10702035/"><img class="img-responsive icon-box19" src="../images/linkedIn-black.png"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container text-center nav-below">
        <div class="row">
            <div class="col-sm-12 nav-below">
                <h1 style="color: #ec5528;">Digital Lync Academy</h1>
                <p>We customize and create your digital needs to perfection. Digital Lync combines strategy, technology, and creativity to engage customers and create inspiring experiences</p>
                <img class="img-responsive" src="../images/hrLine.png">
            </div>
        </div>
    </div>
    <section id="blog" class="blog text-center">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="section-details">
                        <div class="post-area">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 padding20">
                                        <a href="devOps.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".35s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/devops-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="devOps.html">Devops</a></h4>
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/devops-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="Full-Stack-development.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/fullstack-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="Full-Stack-development.html">Full Stack Development</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="course-icon">
                                                    <img src="../images/full-stack-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="visualdesign.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".75s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/visualdesign-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="visualdesign.html">Visual Design</a></h4>
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/visual-design-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 padding20">
                                        <a href="python.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".35s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/python-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="python.html">Python</a></h4>
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/python-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="game-development.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/gamedev-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="game-development.html">Game Development</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/game-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="digital-marketing.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".75s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/digitalmarketing-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="digital-marketing.html">Digital Marketing</a></h4>
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/digital-marketing-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 padding20">
                                        <a href="artificial-intelligence.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".35s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/artificialinteligence-academy.jpeg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="artificial-intelligence.html">Artificial Intelligence</a></h4>
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/ai-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="mobileDevelopment.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/mobiledev-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="mobileDevelopment.html">Mobile Development</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/mobile-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="analytics.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/analtics-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="analytics.html">Analytics</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/analytics-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 padding20">
                                        <a href="machine-learning.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/machinelearinning-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="machine-learning.html">Machine Learning</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/machine-learning-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="datascience-course.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/datascience-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="datascience-course.html">Data Sciences</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/datascience-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="blockchain.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <div class="post-thumbnail">
                                                    <img src="../images/blockchain-academy.jpg" alt="post image" class="img-responsive">
                                                </div>
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="blockchain.html">Blockchain</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <div class="post-content course-icon">
                                                    <img src="../images/blockchain-icon.png">
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-details -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
    </section>
    <!-- /#blog -->
    <div class="section3 blockwrapper">
        <div class="wrapper">
            <div class="packages text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="package blue">
                            <div class="package-head">
                                <h3>Basic</h3>
                            </div>
                            <div class="package-body">
                                <ul class="list-unstyled" style="font-size: 14px">
                                    <li>
                                        <li>24X7 Support</li>
                                        <li>Email/Phone/Chat</li>
                                        <li>Project Experience</li>
                                        <li>24 Weeks</li>
                                        <li>Incusive of Basic Courses</li>
                                </ul>
                                <br>
                                <div class="apply-button blue-background">
                                    <a href="connect.html" class="btn btn-secondary">Apply now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="package yellow">
                            <div class="package-head">
                                <h3>Intermediate</h3>
                            </div>
                            <div class="package-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <li>24X7 Support</li>
                                        <li>Email/Phone/Chat</li>
                                        <li>Project Experience</li>
                                        <li>12 Weeks</li>
                                        <li>Live sessions</li>
                                </ul>
                                <br>
                                <div class="apply-button yellow-background">
                                    <a href="connect.html" class="btn btn-secondary">Apply now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="package red">
                            <div class="package-head">
                                <h3>Advanced</h3>
                            </div>
                            <div class="package-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <li>24X7 Support</li>
                                        <li>Email/Phone/Chat</li>
                                        <li>Project Experience</li>
                                        <li>06 Weeks</li>
                                        <li>Live sessions</li>
                                </ul>
                                <br>
                                <div class="apply-button red-background">
                                    <a href="connect.html" class="btn btn-secondary">Apply now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="subscribe-section" class="subscribe-section  text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
        <div class="bg-overlay parallax img-responsive">
            <div class="section-padding">
                <div class="container">
                    <div class="wow animated fadeInUp" data-wow-delay=".5s">
                        <h2 class="section-title" style="color: white">GET IN TOUCH</h2>
                        <!-- /.section-description -->
                        <form class="subscribe" action="../scripts/basicContactForm.php" method="post">
                            <p class="alert-success"></p>
                            <p class="alert-warning"></p>
                            <div class="subscribe-hide">
                                <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" placeholder="Please enter you email" required>
                                
<input type="submit" id="subscribe-submit" name="submit" class="btn" style="color: black;"></input>
                                <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                                <div class="subscribe-error"></div>
                            </div>
                            <!-- /.subscribe-hide -->
                            <div class="subscribe-message"></div>
                        </form>
                        <!-- /.subscribe -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
        <!-- /.bg-overlay -->
    </section>
    <!-- /#subscribe-section -->
    <!-- Subscribe Section -->
    <div class="footer">
        <div class="footer-padding">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>ADDRESS</h6>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br>
                                California, 94102.</em>
                        <p></p>
                        <p>
                            <font color="orange"><strong>Digital Lync</strong></font>
                            <br>
                            <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,<br>
                                    Hyderabad,<br>
                                    Telangana, 500008</em></p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                        <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                        <p><span class="head">Email:</span> info@digital-lync.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.facebook.com/digitallync/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/digitallync/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/10702035/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                            <li><a href="capabilities.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                            <li><a href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                            <li><a href="http://lyncschool.blogspot.in/"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                            <li><a href="connect.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Contact Us</h6>
                        <form action="../scripts/basicContactForm.php" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="sname" class="form-control" required placeholder="Enter Yout Name">
                                </div>
                                <div class="form-group">
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required placeholder="Message">
                                </div>
                                

<input type="submit" name="submit" class="btn btn-default"></input>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
