<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CONNECT | Digital-lync</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/academy-style.css">
    <link rel="stylesheet" type="text/css" href="../css/connect-us.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed black" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="#" style="padding: 0px;margin: 0px;"><img id="academic-logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="digital-academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                             <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab Us</a></li>
                            <li><a href="product.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container text-center nav-below">
        <div class="row">
            <div class="col-sm-12 nav-below">
                <h1 class="dark-red">CONNECT</h1>
                <p>Are you confused of what technology to choose? We interview,analyse,guide and help you to choose a career technology path. To build a career in Technology, Lync school.</p>
                <img class="img-responsive" src="../images/hrLine.png">
            </div>
        </div>
    </div>
    <section class="details">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="col-md-12 col-sm-12 ">
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="name">Name* </label>
                                <input type="text" class="form-control " id="name" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="firstname">FirstName* </label>
                                <input type="text" class="form-control " id="fname" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="email">Email*</label>
                                <input type="email" class="form-control " id="email" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="mobile">Mobile Number</label>
                                <input type="text" class="form-control " id="mobile" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="city">City*</label>
                                <input type="text" class="form-control " id="city" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="state">State*</label>
                                <input type="text" class="form-control" id="state" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="address">Address*</label>
                                <textarea class="form-control input-sm" id="address" rows="3" required></textarea>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <div class="upload-drop-zone" id="drop-zone">
                                    <p>Drag and drop or click here</p>
                                    <input type="file" name="files[]" id="js-upload-files" multiple>
                                    <p>to upload your Resume</p>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" id="submit" class="btn btn-warning">SEND</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="container section-padding">
        <div class="row">
            <div class="col-sm-4 icon-box19" style="height: 239px;">
                <div class=" mission">
                    <h5 class="orange">India Address</h5>
                    <p class="mission-content">
                        LyncSchool Pvt Ltd.
                        <br> Second Floor,Plot No:6-11Suvey No.40.
                        <br> Khajaguda,Naga Hills Rd
                        <br> Gachibowli,Hyderabad
                        <br>Telangana 500008
                    </p>
                    <img src="../images/connect-logo.png" class="img-responsive mission-image">
                </div>
            </div>
            <div class="col-sm-4 icon-box19" style="height: 239px;">
                <div class="mission">
                    <h5 class="orange">USA ADDRESS</h5>
                    <p class="mission-content">LyncSchool Pvt Ltd.(corporate office)
                        <br> Second Floor,Plot No:6-11Suvey No.40.
                        <br> Khajaguda,Naga Hills Rd
                        <br> Gachibowli,Hyderabad
                        <br>Telangana 500008</p>
                    <img src="../images/connect-logo.png" class="img-responsive mission-image">
                </div>
            </div>
            <div class="col-sm-4 icon-box19" style="height: 239px;">
                <div class="mission">
                    <h5 class="orange">REACH</h5>
                    <p class="mission-content">IN: +91 4065555777 Email:support@lyncschool.cylync.com info@lyncschool.cylync.com US: + (415) 839 7276</p>
                    <img src="../images/reach.png" class="img-responsive mission-image">
                </div>
            </div>
        </div>
    </div>
    <section class="mapsection section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <h3 style="color: #EC5528">Get in Touch</h3>
                    <form method="post" class="registration">
                        <div class="form-group">
                            <input class="form-control" type="text" name="name" id="name" placeholder="NAME" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" id="email" placeholder="YOUR EMAIL" required>
                        </div>
                        <div class="form-group ">
                            <input class="form-control" type="text" name="mobile" id="number" value="" placeholder="phone" required>
                        </div>
                        <div class="form-group ">
                            <textarea placeholder="message" required>
                            </textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class=" connect btn btn-warning">Connect</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.841114836012!2d78.37264431443944!3d17.419410988059408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9400b5dd51e5%3A0x7d5a4538b2d3b3d9!2sDigital+Lync!5e0!3m2!1sen!2sin!4v1497183614068" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
    <div class="footer-padding">
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-3">
                    <h6>ADDRESS</h6>
                    <font color="orange"><strong>Digital Lync</strong></font>
                    <br>
                    <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br>
                                California, 94102.</em>
                    <p></p>
                    <p>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,<br>
                                    Hyderabad,<br>
                                    Telangana, 500008</em></p>
                </div>
                <div class="col-sm-3">
                    <h6>Reach</h6>
                    <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                    <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                    <p><span class="head">Email:</span> info@digital-lync.com</p>
                    <h6>Connect</h6>
                    <ul class="list-unstyled social">
                        <li><a href="https://www.facebook.com/lyncdigital/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/lyncdigital/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/lyncdigital"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Links</h6>
                    <ul class="list-unstyled links">
                        <li><a href="capabilities.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                        <li><a href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                        <li><a href="http://lyncschool.blogspot.in/"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                        <li><a href="connect.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Contact Us</h6>
                    <form action="/api/contact-us" method="post">
                        <fieldset>
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" name="name" class="form-control" required placeholder="Enter Yout Name">
                            </div>
                            <div class="form-group">
                                <label>Email address:</label>
                                <input type="email" name="email" class="form-control" required placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Message:</label>
                                <input type="text" name="message" class="form-control" required placeholder="Message">
                            </div>
                            <button type="submit" class="btn btn-default">Send</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
