<!DOCTYPE html>
<html lang="en" ng-app="basic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Curriculum | Digital-lync</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/academy-style.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed black" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="../index.html" style="padding: 0px;margin: 0px;"><img id="academic-logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab</a></li>
                            <li><a href="product.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>
                    <li class="dropdown social-icons">
                        <ul id="social-icons-black">
                            <li>
                                <a href="https://www.facebook.com/digitallync/"><img class="img-responsive icon-box19" src="../images/facebook-black.png"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/digitallync/"><img class="img-responsive icon-box19" src="../images/twitter-black.png"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company-beta/10702035/"><img class="img-responsive icon-box19" src="../images/linkedIn-black.png"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container text-center nav-below">
        <div class="row">
            <div class="col-sm-12 nav-below">
                <h1>Curriculum</h1>
                <img class="img-responsive" src="../images/hrLine.png">
            </div>
        </div>
    </div>
    <section id="blog" class="blog text-center">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="section-details">
                        <div class="post-area">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 padding20">
                                        <a href="devOps.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".35s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/devops-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="devOps.html">Devops</a></h4>
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="Full-Stack-development.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/fullstack-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="Full-Stack-development.html">Full Stack Development</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="visualdesign.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".75s">
                                                <!--  <div class="post-thumbnail">
                                                    <img src="../images/visualdesign-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="visualdesign.html">Visual Design</a></h4>
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 padding20">
                                        <a href="python.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".35s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/python-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="python.html">Python</a></h4>
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-6 padding20">
                                        <a href="game-development.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/gamedev-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="game-development.html">Game Development</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4 padding20">
                                        <a href="machine-learning.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/machinelearinning-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="machine-learning.html">Machine Learning</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="datascience-course.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <!--  <div class="post-thumbnail">
                                                    <img src="../images/datascience-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="datascience-course.html">Data Sciences</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-4 padding20">
                                        <a href="blockchain.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/blockchain-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="blockchain.html">Blockchain</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 padding20">
                                        <a href="mobileDevelopment.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/mobiledev-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="mobileDevelopment.html">Mobile Development</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                    <div class="col-md-6 padding20">
                                        <a href="analytics.html">
                                            <article class="post wow animated fadeInUp icon-box19 boxshadow" data-wow-delay=".55s">
                                                <!-- <div class="post-thumbnail">
                                                    <img src="../images/analtics-academy.jpg" alt="post image" class="img-responsive">
                                                </div> -->
                                                <!-- /.post-thumbnail -->
                                                <div class="post-content">
                                                    <h4 class="entry-title course-title"><a href="analytics.html">Analytics</a></h4>
                                                    <!-- /.entry-title -->
                                                    <!-- /.entry-content -->
                                                </div>
                                                <!-- /.post-content -->
                                            </article>
                                        </a>
                                        <!-- /.type-post -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.section-details -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
    </section>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
