<!DOCTYPE html>
<html lang="en" ng-app="basic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Courses:Digital-lync</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/courses.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="../index.html" style="padding: 0px;margin: 0px;"><img id="courses-logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="digital-academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                             <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab Us</a></li>
                            <li><a href="product.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <section class="section-padding page-headers">
        <p class="cap-padding text-center">Front end development</p>
        <p class="para-style text-center">We customize and create your digital needs to perfection. Digital Lync combines strategy, technology,
            <br> and creativity to engage customers and create inspiring experiences</p>
        <div class="container">
            <img src="../images/hrLine.png" class="img-responsive">
        </div>
        <div class="container">
            <div class="mean-image">
                <img src="../images/mean-courses.png" class="img-responsive">
            </div>
        </div>
    </section>
    <section class="section-padding course-quest">
        <div class="container">
            <div class="row">
                <h6 class="pull-left">What is this course about ?</h6>
                <p class="pull-left">The purpose of the course is for students to learn how to design , prototype , and evaluate the user interface using different types of methods.</p>
            </div>
            <div class="row list-align list-padding">
                <p>What you will learn</p>
                <ul>
                    <li>Fundamentals of website Building.</li>
                    <li>Building JavaScript Based Application.</li>
                    <li> Concepts and Patterns of JavaScript Programming language.</li>
                    <li> Understanding how JavaScript library is built.</li>
                    <li>Learning HTML5 and CSS3 </li>
                    <li> Building responsive websites using Bootstrap.</li>
                    <li>Understanding Differences between JS Library and JS Frameworks </li>
                    <li> Building a web application using Angular JS </li>
                    <li> How to work on a team project and how to hand on the results of work both in written & oral form.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row list-align">
                <div class="col-md-6 pull-left">
                    <div class="shadow">
                        <h6>Who can sign up for this course ? </h6>
                        <ul>
                            <li>Anyone with Graduate degree</li>
                            <li>Knowledge of using computers & different OS</li>
                            <li>Basic Coding skills</li>
                            <li>Hands on Photoshop would be beneficial</li>
                            <li>Need Text Here </li>
                            <li>Need Text Here </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="shadow">
                        <h6>Who can sign up for this course ? </h6>
                        <ul>
                            <li>Anyone with Graduate degree</li>
                            <li>Knowledge of using computers & different OS</li>
                            <li>Basic Coding skills</li>
                            <li>Hands on Photoshop would be beneficial</li>
                            <li>Need Text Here </li>
                            <li>Need Text Here </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container shadow">
            <div class="row list-align">
                <div class="col-md-6">
                    <h6>How are the courses taught ?</h6>
                    <ul>
                        <li>Over 10 years Real-Time experienced Faculty.</li>
                        <li>Provides Class room & Online sessions.</li>
                        <li>Project/Lab based training.</li>
                        <li>Structured learning with live projects from day one. </li>
                        <li>Internships are also available while pursuing College degree.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Over 10 years Real-Time experienced Faculty.</li>
                        <li>Provides Class room & Online sessions.</li>
                        <li>Project/Lab based training.</li>
                        <li>Structured learning with live projects from day one. </li>
                        <li>Internships are also available while pursuing College degree.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="row">
            <div class="btn-enroll">
                <a href="#">Enroll Now</a>
            </div>
        </div>
    </section>
    <section class="section-padding program-block">
        <div class="container program-syllabus" id="style-1">
            <div class="container programs">
                <h6>Program Syllabus</h6>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>HTML COURSE CIRRUCULLAM</h6>
                        <p>Become a Front-End Web Developer by completing a variety of projects for your portfolio - become an HTML, CSS and JavaScript pro!</p>
                        <div class="row">
                            <a data-toggle="collapse" data-target="#demo" class="colorcrclm">view cirriculum</a>
                            <div id="demo" class="collapse">
                                <ul>
                                    <li>Module 1 – Introduction to HTML</li>
                                    <li><a data-toggle="collapse" data-target="#module2sub" style="cursor: pointer;text-decoration: none;">+ Module 2 – HTML Elements in Context</a>
                                        <ul id="module2sub" class="collapse">
                                            <li>A. Introduction to Tags</li>
                                            <li>B. Description of attributes and values in HTML</li>
                                            <li>C. Standard Convention of HTML files</li>
                                        </ul>
                                    </li>
                                    <li>Module 3 – Creating HTML Documents</li>
                                    <li>Module 4 – Marking Up Text</li>
                                    <li>Module 5- Grouping Content</li>
                                    <li>Module 6 – Creating Sections</li>
                                    <li>Module 7 – Table Elements</li>
                                    <li>Module 8 – Working with Forms</li>
                                    <li>Module 9 – Customizing the Input Element</li>
                                    <li>Module 10 – Other Form Elements and Input Validation</li>
                                    <li>Module 11 – Embedding Content</li>
                                    <li>+ Module 12 – HTML5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>CSS COURSE CIRRUCULLAM</h6>
                    <p>CSS is a language that describes the style of an HTML document. CSS describes how HTML elements should be displayed. This tutorial will teach you CSS from..</p>
                    <div class="row">
                        <a data-toggle="collapse" data-target="#demo1" class="colorcrclm">view cirriculum</a>
                        <div id="demo1" class="collapse">
                            <ul>
                                <li>Module – CSS in Context</li>
                                <li>Module – Using the CSS Selectors—Part I
                                </li>
                                <li>Module – Using the CSS Selectors—Part II</li>
                                <li>Module – Using Borders and Backgrounds</li>
                                <li>Module – Working with Text</li>
                                <li>Module – Working with the Box Model</li>
                                <li>Module – Margin</li>
                                <li>Module – Padding</li>
                                <li>Module – Border</li>
                                <li><a data-toggle="collapse" data-target="#layout" style="cursor: pointer;text-decoration: none;">+ Module 2 – HTML Elements in Context</a>
                                    <ul id="layout" class="collapse">
                                        <li>a. Float</li>
                                        <li>b. Positioning</li>
                                    </ul>
                                </li>
                                <li>Module – Styling Text</li>
                                <li>Module – Web fonts and external fonts</li>
                                <li>Module – Adding background</li>
                                <li>Module – Other CSS Properties and Features</li>
                                <li><a data-toggle="collapse" data-target="#css3" style="cursor: pointer;text-decoration: none;">+ Module – CSS3</a>
                                    <ul id="css3" class="collapse">
                                        <li>a. Using Advanced Selectors</li>
                                        <li>b. Creating a Print Style Sheet</li>
                                        <li>c. Targeting Styles with Media Queries</li>
                                        <li>d. Using CSS Multi-Column Layout</li>
                                        <li>e. Creating Gradients Without Images</li>
                                        <li>f. Transforms and Transitions</li>
                                        <li>g. Animating with CSS Keyframes</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>JAVASCRIPT COURSE CIRRUCULLAM</h6>
                    <p>Concepts and Patterns of JavaScript Programming language. Understanding Differences between JS Library and JS Frameworks..</p>
                    <div class="row">
                        <a data-toggle="collapse" data-target="#demo2" class="colorcrclm">view cirriculum</a>
                        <div id="demo2" class="collapse">
                            <ul>
                                <li>Module – JavaScript</li>
                                <li>Module – Introduction to JavaScript</li>
                                <li>Module – JavaScript Syntax</li>
                                <li>Module – JavaScript Operators</li>
                                <li>Module – JavaScript Statements</li>
                                <li>Module – JavaScript Events & Event Handling</li>
                                <li>Module – JS User Defined Functions</li>
                                <li>Module – Anonymous Function, Callback Function & Self Executable Function</li>
                                <li>Module – JavaScript Objects</li>
                                <li>Module – String Object and Functions</li>
                                <li>Module – Number Object and Functions</li>
                                <li>Module – Math Object and Functions</li>
                                <li>Module – Date Functions</li>
                                <li>Module – Array Functions and Property</li>
                                <li>Module – JavaScript Error Handling</li>
                                <li><a data-toggle="collapse" data-target="#domcontext" style="cursor: pointer;text-decoration: none;">+ Module – The DOM in Context</a>
                                    <ul id="domcontext" class="collapse">
                                        <li>a.  Working with the Document Object</li>
                                        <li>b.  Working with the Window Object</li>
                                        <li>c.  Working with DOM Elements</li>
                                        <li>d.  Styling DOM Elements</li>
                                    </ul>
                                </li>
                                <li>Module – Using the Element-Specific Objects</li>
                                <li>Module – JavaScript Object Oriented Concepts</li>
                                <li>Module – Using Ajax</li>
                                <li>Module – JSON</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>JQUERY COURSE CIRRUCULLAM</h6>
                    <p>jQuery is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling, animation…</p>
                      <div class="row">
                        <a data-toggle="collapse" data-target="#jquery" class="colorcrclm">view cirriculum</a>
                        <div id="jquery" class="collapse">
                            <ul>
                                <li>Module – The Basics of jQuery</li>
                                <li>Module – Traversing the DOM</li>
                                <li>Module – DOM Manipulation with jQuery</li>
                                <li>Module – Events</li>
                               <li> Module – Animation</li>
                                <li>Module – Ajax with jQuery</li>
                                <li>Module – jQuery Plugin development</li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>BOOTSTRAP COURSE CIRRUCULLAM</h6>
                    <p>Bootstrap is a free and open-source front-end web framework for designing websites and web applications. It contains HTML- and CSS-based design templates..</p>
                      <div class="row">
                        <a data-toggle="collapse" data-target="#bootstrap" class="colorcrclm">view cirriculum</a>
                        <div id="bootstrap" class="collapse">
                            <ul>
                            <li>Module – Responsive Web Design basics</li>
                            <li>Module – Bootstrap File Structure</li>
                            <li>Module – Grid System</li>
                            <li>Module – Working with Forms</li>
                            <li>Module – Glyphicons, Panels, Breadcrumbs</li>
                            <li>Module – Models</li>
                            <li>Module – Extending Bootstrap</li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
              <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>ANGULARJS COURSE CIRRUCULLAM</h6>
                    <p>AngularJS is a JavaScript framework. It can be added to an HTML page with a Script tag. AngularJS extends HTML attributes with Directives, and binds data to…</p>
                      <div class="row">
                        <a data-toggle="collapse" data-target="#bootstrap" class="colorcrclm">view cirriculum</a>
                        <div id="bootstrap" class="collapse">
                            <ul>
                            <li>+ Module – Introduction</li>
                            <li>+ Module – Data Binding & Directives</li>
                            <li>+ Module – Single Page Application</li>
                            <li>+ Module – Custom Services<li>
                            <li>+ Module – Custom Directives</li>
                            <li>+ Module – Build an App</li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
               <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>REACTJS COURSE CIRRUCULLAM</h6>
                    <p>Concepts and Patterns of JavaScript Programming language. Understanding Differences between JS Library and JS Frameworks..</p>
                      <div class="row">
                        <a data-toggle="collapse" data-target="#reactjs" class="colorcrclm">view cirriculum</a>
                        <div id="reactjs" class="collapse">
                            <ul>
                        <li>Getting Started</li>
                        <li>Build your first ReactJS component</li>
                        <li>Properties<li>
                        <li>State and stateless Components</li>
                        <li>Component Lifecycle</li>
                        <li>Component Lifecycle</li>
                        <li>ES6 Classes</li>
                        <li>Webpack Project Setup<li>
                        <li>BONUS! Getting Started With Redux</li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="subscribe-section" class="subscribe-section  text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
        <div class="bg-overlay parallax img-responsive">
            <div class="section-padding">
                <div class="container">
                    <div class="wow animated fadeInUp" data-wow-delay=".5s">
                        <h2 class="section-title" style="color: white">GET IN TOUCH</h2>
                        <!-- /.section-description -->
                        <form class="subscribe" method="post">
                            <p class="alert-success"></p>
                            <p class="alert-warning"></p>
                            <div class="subscribe-hide">
                                <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" placeholder="Please enter you email" required>
                                <button type="submit" id="subscribe-submit" class="btn" style="color: black;">SEND</button>
                                <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                                <div class="subscribe-error"></div>
                            </div>
                            <!-- /.subscribe-hide -->
                            <div class="subscribe-message"></div>
                        </form>
                        <!-- /.subscribe -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
        <!-- /.bg-overlay -->
    </section>
    <div class="footer">
    <div class="footer-padding">
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-3">
                    <h6>ADDRESS</h6>
                    <font color="orange"><strong>Digital Lync</strong></font>
                    <br>
                    <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br>
                                California, 94102.</em>
                    <p></p>
                    <p>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,<br>
                                    Hyderabad,<br>
                                    Telangana, 500008</em></p>
                </div>
                <div class="col-sm-3">
                    <h6>Reach</h6>
                    <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                    <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                    <p><span class="head">Email:</span> info@digital-lync.com</p>
                    <h6>Connect</h6>
                    <ul class="list-unstyled social">
                        <li><a href="https://www.facebook.com/lyncdigital/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/lyncdigital/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/lyncdigital"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Links</h6>
                    <ul class="list-unstyled links">
                        <li><a href="capabilities.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                        <li><a href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                        <li><a href="http://lyncschool.blogspot.in/"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                        <li><a href="connect.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6>Contact Us</h6>
                    <form action="/api/contact-us" method="post">
                        <fieldset>
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" name="name" class="form-control" required placeholder="Enter Yout Name">
                            </div>
                            <div class="form-group">
                                <label>Email address:</label>
                                <input type="email" name="email" class="form-control" required placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Message:</label>
                                <input type="text" name="message" class="form-control" required placeholder="Message">
                            </div>
                            <button type="submit" class="btn btn-default">Send</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
    </script>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
