<!DOCTYPE html>
<html lang="en" ng-app="basic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mobile Development:Digital Lync</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/courses.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="../index.html" style="padding: 0px;margin: 0px;"><img id="courses-logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                             <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab</a></li>
                            <li><a href="product.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>
                     <li class="dropdown social-icons">
                        <ul id="social-icons-black">
                            <li><a href="https://www.facebook.com/digitallync/"><img class="img-responsive icon-box19" src="../images/facebook-black.png"></a></li>
                            <li><a href="https://twitter.com/digitallync/"><img class="img-responsive icon-box19" src="../images/twitter-black.png"></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/10702035/"><img class="img-responsive icon-box19" src="../images/linkedIn-black.png"></a></li>   
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <section class="section-padding page-headers">
        <p class="cap-padding text-center">Mobile development</p>
        <p class="para-style text-center">We customize and create your digital needs to perfection. Digital Lync combines strategy, technology,
            <br> and creativity to engage customers and create inspiring experiences</p>
        <div class="container">
            <img src="../images/hrLine.png" class="img-responsive">
        </div>
        <div class="container">
            <div class="mean-image">
                <img src="../images/mean-courses.png" class="img-responsive">
            </div>
        </div>
    </section>
    <section class="section-padding course-quest">
        <div class="container">
            <div class="row">
                <h6 class="pull-left">What is this course about ?</h6>
                <p class="pull-left">Smartphones have seized the world of users to access the internet on the go !. Hence , Opportunities have grown to create more mobile friendly applications & websites. We have initiated courses related to this TECHNOLOGY especially for them who wants to exploit the possibilities existing in this platform.</p>
            </div>
            <div class="row list-align list-padding">
                <p>What you will learn</p>
                <ul>
                    <li>– Develop innovative applications targeting multiple platforms</li>
                    <li> – Learn programming languages like HTML , JScript , CSS , Objective-C & VB .Net.</li>
                    <li>– Migrate and adapt existing web applications to the leading mobile platforms</li>
                    <li>– Can implement application programming interfaces (APIs) to support mobile functionality.</li>
                    <li>– How to test and debug an app</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row list-align">
                <div class="col-md-6 pull-left">
                    <div class="shadow">
                        <h6>Who can sign up for this course ? </h6>
                        <ul>
                            <li>Anyone with Graduate degree</li>
                            <li>Knowledge of using computers & different OS</li>
                            <li>Basic Coding skills</li>
                            <li>Hands on Photoshop would be beneficial</li>
                            <li>Need Text Here </li>
                            <li>Need Text Here </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="shadow">
                        <h6>Who can sign up for this course ? </h6>
                        <ul>
                            <li>Anyone with Graduate degree</li>
                            <li>Knowledge of using computers & different OS</li>
                            <li>Basic Coding skills</li>
                            <li>Hands on Photoshop would be beneficial</li>
                            <li>Need Text Here </li>
                            <li>Need Text Here </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container shadow">
            <div class="row list-align">
                <div class="col-md-6">
                    <h6>How are the courses taught ?</h6>
                    <ul>
                        <li>Over 10 years Real-Time experienced Faculty.</li>
                        <li>Provides Class room & Online sessions.</li>
                        <li>Project/Lab based training.</li>
                        <li>Structured learning with live projects from day one. </li>
                        <li>Internships are also available while pursuing College degree.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Over 10 years Real-Time experienced Faculty.</li>
                        <li>Provides Class room & Online sessions.</li>
                        <li>Project/Lab based training.</li>
                        <li>Structured learning with live projects from day one. </li>
                        <li>Internships are also available while pursuing College degree.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="row">
            <div class="btn-enroll">
                <a href="#">Enroll Now</a>
            </div>
        </div>
    </section>
    <section class="section-padding program-block">
        <div class="container program-syllabus" id="style-1">
            <div class="container programs">
                <h6>Program Syllabus</h6>
            </div>
            <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>ANDROID COURSE CIRRUCULLAM</h6>
                    <p>Android is the closest competitor of iOS. Gradually, More mobile/tablet device manufacturers are switching to Android. Every small scale & big scale business depends upon android related apps they come from different domains like Health, Travel , Shopping , Banking etc., . This course is designed in order to make one understand the google android framework & platform.</p>
                    <div class="row">
                        <a data-toggle="collapse" data-target="#android" class="colorcrclm">view cirriculum</a>
                        <div id="android" class="collapse">
                            <ul>
                                <li>MODULE 1 – Introduction Basics and features of android.</li>
                                <li>MODULE 2 – Prerequisites OOPS concepts in Java, Programming flow</li>
                                <li>MODULE 3 – Installing Android Studio Download and install JDK, Set up JDK path Download and install Android studio, Setting up the Emulator</li>
                                <li>MODULE 4 – Creating your First App Creating new project, Writing customized message, Running the App</li>
                                <li>MODULE 5 – Project structure Details Resource types, Accessing resources in code, Accessing Resources from XML, App Manifest</li>
                                <li>MODULE 6 – Android Layouts and Widgets Linear, Relative, Frame Layouts, WebView, EditText, Buttons, Checkbox and RadioButtons, Spinner, AutoCompleteTextView, TimePicker and DatePickerDialog</li>
                                <li>MODULE 7 – Activity & Intents Creating an Activity, Starting another activity, Shutting down the Activity, Implementing Life cycle callback methods, Implicit & Explicit intents, Intent filters, Launching Google Maps with Intents, Sending an email via Intent</li>
                                <li>MODULE 8 – Android Services Working with AsyncTask Handler & Internet Services, Creating a bound Service, Binding to a service</li>
                                <li>MODULE 9 – Android Adapters Array Adapter, SimpleCursorAdapter, Base Adapter</li>
                                <li>MODULE 10 – Working with List View Normal Activity vs List Activity, Creating a customized Listview with Image and Text, ListView optimization, Custom ListView with BaseAdapter.</li>
                                <li>MODULE 11 – Fragments Fragment Lifecycle Callbacks, adding Fragments in XML, Layout inflator, Adding a Fragment dynamically to activity ,Inter Fragment communication, Communication between Activity and Fragments, Creating List and DialogFragment</li>
                                <li>MODULE 12 – Working with Tabs using Fragments Swipe Tabs VS scrollable Tabs, Creating Scrollable Tabs,Creating Swipe Tabs</li>
                                <li>MODULE 13 – Working with GridView Grid View properties, Creating a gridView, Performing action on Grid View.</li>
                                <li>MODULE 14 – Navigation Drawer What is Navigation drawer?, When to use Navigation Drawer?, Implement a Navigation Drawer,Implement Navigation Drawer with custom List</li>
                                <li>MODULE 15 – Working with Sharedpreferences Accessing Shared Preferences, Uses of Shared Preferences, Developing a simple app using Shared Preferences</li>
                                <li>MODULE 16 – Android SQLite Database Steps to create Database, The SQLiteDatabase class, Insert, update and delete in SQLite Database, Creating a simple Registration and Login Application</li>
                                <li>MODULE 17 – JSON Parsing What is JSON, Secure communication with HTTP, Developing AsyncTask Handler for HTTP communication, Parsing JSON and populating a ListView.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>IOS COURSE CIRRUCULLAM</h6>
                    <p> iOS is the most exciting & rewarding development platform. With the launch of new versions in short intervals by its parent company Apple there is a great necessity to have more Developers who are experts in iPhone applications. By using Software Development Kit, it is easy to create any app & one can publish their app on Apple Application store. But needs to be careful of certain rules laid down by the Apple in order to run them. For this, One need proper training in this field to become an expert.</p>
                    <div class="row">
                        <a data-toggle="collapse" data-target="#ios" class="colorcrclm">view cirriculum</a>
                        <div id="ios" class="collapse">
                            <ul>
                                <li>MODULE 1 – C Programming Basics of c programming, Operators, Control Statements, Loops, Working with Basic C Programs, Arrays and Functions, Pointers and Structures…</li>
                                <li>MODULE 2 – Objective Oriented Programming OOPS Concepts, Inheritance, Polymorphism, Encapsulation, Abstraction and Static versus NonStatic…</li>
                                <li>MODULE 3 – Objective-C Introduction Basics of Objective-C, Variable Declaration, Define classes, Messages passing and Properties</li>
                                <li>MODULE 4 – Swift Introduction Basics of Swift, Define Classes, Variable Declaration, Methods and Properties</li>
                                <li>MODULE 5 – IDE – XCode How to use XCode, iOS SDK, Create a New Project, Build and Run, Manage Project Resource, Developer Tools</li>
                                <li>MODULE 6 – iOS Programming Introduction iOS SDK, Application Life Cycle , Application States, Application Overview.</li>
                                <li>MODULE 7 – Foundation Kit Working With Strings, Working with Collection classes – NSArray, NSDictionary, Working with Files and Data, Working with Dates, Protocols, Categories and Notifications.</li>
                                <li>MODULE 8 – Memory Management ARC and AutoRelease Pool.</li>
                                <li>MODULE 9 – User Interface UIWindow, UIView, UILabel, UITextField, UITextView, UITableView,UIWebView,UICollectionView, UIDatePicker , UIPickerView, UISwitch, UIWebView.</li>
                                <li>MODULE 10 – ViewControllers UIViewController, Navigation with UINavigationController, Pagination with UIPageViewController, Tab Management with UITabBarController</li>
                                <li>MODULE 11 – Touch Events Low level touch events, Gesture Recognisers and Touch Hierarchy</li>
                                <li>MODULE 12 – Web Services Integration and Data Handling Networking (Server Communication) , Reachability and XML / JSON parser</li>
                                <li>MODULE 13 – Location Management Location Services and Map Kit Integration</li>
                                <li>MODULE 14 – Local and Remote Notifications Local Notifications and Push Notifications</li>
                                <li>MODULE 15 – Custom Drawing Working with Contexts, Drawing Shapes, Drawing Gradients</li>
                                <li>MODULE 16 – Data Persistence Data Storage with SQLite Database and Data Storage with Core Data</li>
                                <li>MODULE 17 – Developer Tools Usage Debugging , Memory and CPU Usage and Analyze</li>
                                <li>MODULE 18 – Distribution of the app Understanding Apple Developer Account Program, Distribution of the application and Submitting the App Store.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row course-padding shadow">
                <div class="col-md-3">
                    <img src="../images/intro-to-programming@3x.png">
                </div>
                <div class="col-md-9 cirricullam-heading">
                    <h6>HYBRID COURSE CIRRUCULLAM</h6>
                    <p> This course focuses on creating multi platform applications by using Html ,CSS , & javascript. It involves ionic framework , one of the fastest growing mobile application frameworks.</p>
                    <div class="row">
                        <a data-toggle="collapse" data-target="#hybrid" class="colorcrclm">view cirriculum</a>
                        <div id="hybrid" class="collapse">
                            <ul>
                                <li>MODULE 1 – HTML,HTML5 HTML Introduction, HTML Basics,HTMLAttributes,HTMLStyles,HTML Styles – CSS,HTML The class Attribute,HTML JavaScript,HTML5 Introduction,HTML5 Basics,HTML5 Styles</li>
                                <li>MODULE 2 – CSS,CSS3 CSS Introduction,CSSBasics,CSSColors,CSS Navigation Bar,CSS3 Introduction,CSS3 Basics,CSS3 Rounded Corners,CSS3 Animations</li>
                                <li>MODULE 3 – JavaScript javaScriptIntroduction,JavaScriptVariables,JavaScriptOperators,JavaScriptFunctions,JavaScriptArrays,JavaScriptLoops,JavaScript Forms</li>
                                <li>MODULE 4 – AngularJS AngularJS Introduction,AngularJSExpressions,AngularJS Data Binding,AngularJSControllers,AngularJSServices,AngularJSEvents,AngularJS Application</li>
                                <li>MODULE 5- IDE – Apache Cordova </li>
                                How to use Apache Cordova Ionic, Ionic framework SDK, How to install it on terminal or command prompt,Create a New Project, Build and Run, Manage Project Resource, Developer Tools</li>
                                <li>MODULE 6 – Ionic Framework Introduction ionic SDK, Application ,Application States, Application Overview</li>
                                <li>MODULE 7 – Development Process </li>
                                Working With HTML, Working with HTML5 with CSS,, Working with HTML with CSS and AngularJS , Installing iOS ,Android,BlackBerry,Windows phone tools and environment.</li>
                                <li>MODULE 8 – Memory Management</li>
                                <li>MODULE 9 – User Interface HTML files,CSSfiles,Imagefiles,JS files etc</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row course-padding">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <hr>
                            <li>Over 10 years Real-Time experienced Faculty.</li>
                            <li>Provides Class room & Online sessions.</li>
                            <li>Project/Lab based training.</li>
                            <li>Structured learning with live projects from day one. </li>
                            <li>Internships are also available while pursuing College degree.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="subscribe-section" class="subscribe-section  text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
        <div class="bg-overlay parallax img-responsive">
            <div class="section-padding">
                <div class="container">
                    <div class="wow animated fadeInUp" data-wow-delay=".5s">
                        <h2 class="section-title" style="color: white">GET IN TOUCH</h2>
                        <!-- /.section-description -->
                        <form class="subscribe" action="https://script.google.com/macros/s/AKfycbwwop37t3G5wF8gI0hDJ_u2G7tacDIC4qQyEvNmmM26T8AnTpM/exec" method="post">
                            <p class="alert-success"></p>
                            <p class="alert-warning"></p>
                            <div class="subscribe-hide">
                                <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" placeholder="Please enter you email" required>
                                <button type="submit" id="subscribe-submit" class="btn" style="color: black;">SEND</button>
                                <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                                <div class="subscribe-error"></div>
                            </div>
                            <!-- /.subscribe-hide -->
                            <div class="subscribe-message"></div>
                        </form>
                        <!-- /.subscribe -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
        <!-- /.bg-overlay -->
    </section>
    <div class="footer">
        <div class="footer-padding">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>ADDRESS</h6>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br>
                                California, 94102.</em>
                        <p></p>
                        <p>
                            <font color="orange"><strong>Digital Lync</strong></font>
                            <br>
                            <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,<br>
                                    Hyderabad,<br>
                                    Telangana, 500008</em></p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                        <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                        <p><span class="head">Email:</span> info@digital-lync.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.facebook.com/digitallync/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/digitallync/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/10702035/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                            <li><a href="capabilities.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                            <li><a href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                            <li><a href="http://lyncschool.blogspot.in/"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                            <li><a href="connect.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Contact Us</h6>
                        <form class="subscribe" action="https://script.google.com/macros/s/AKfycbwwop37t3G5wF8gI0hDJ_u2G7tacDIC4qQyEvNmmM26T8AnTpM/exec" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="name" class="form-control" required placeholder="Enter Yout Name">
                                </div>
                                <div class="form-group">
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required placeholder="Message">
                                </div>
                                <button type="submit" class="btn btn-default">Send</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
