<!DOCTYPE html>
<html lang="en" ng-app="basic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MONGO DB | Digital-lync</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/courses.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="../index.html" style="padding: 0px;margin: 0px;"><img id="courses-logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab Us</a></li>
                            <li><a href="products.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>
                    <li class="dropdown social-icons">
                        <ul id="social-icons-black">
                            <li>
                                <a href="https://www.facebook.com/digitallync/"><img class="img-responsive icon-box19" src="../images/facebook-black.png"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/digitallync/"><img class="img-responsive icon-box19" src="../images/twitter-black.png"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company-beta/10702035/"><img class="img-responsive icon-box19" src="../images/linkedIn-black.png"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <section class="section-padding page-headers">
        <p class="cap-padding text-center course-heading">MONGO DB</p>
        <p class="para-style text-center">We customize and create your digital needs to perfection. Digital Lync combines strategy, technology,
            <br> and creativity to engage customers and create inspiring experiences</p>
        <div class="container">
            <img src="../images/hrLine.png" class="img-responsive">
        </div>
    </section>
    <section class="section-padding course-quest">
        <div class="container">
            <div class="row">
                <h6 class="pull-left">What is this course about ?</h6>
                <p class="pull-left">This course is all enthusiasts who are willing to build full stack javascript applications with mean stack using Mongodb, Node JS, Angularjs, Express JS and React JS.</p>
            </div>
            <div class="row">
                <div class="btn-enroll">
                    <a href="#">Enroll Now</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding program-block">
        <div class="container program-syllabus" id="style-1">
            <div class="container programs">
                <h6>Program Syllabus</h6>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 1</h6>
                        <p>Design Goals, Architecture and Installation</p>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 2</h6>
                        <p>CRUD Operations</p>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 3</h6>
                        <p>Schema Design and Data Modelling</p>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 4 </h6>
                        <p> Administration</p>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 5 </h6>
                        <p>Scalability and Availability</p>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 6 </h6>
                        <p>Indexing and Aggregation Framework</p>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 7 </h6>
                        <p>Application Engineering and MongoDB Tools</p>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Module 8 </h6>
                        <p> Project, Additional Concepts and Case Studies</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="row">
            <div class="btn-download-Curriculum">
                <a data-toggle="modal" data-target="#myModal" class="pointer">Download Curriculum</a>
            </div>
            <div id="myModal" class="modal animated fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body" style="overflow: hidden;">
                            <form action="../scripts/downloadCurriculamForm.php" method="post">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="form-group col-md-12 col-sm-6">
                                        <label for="name">Name* </label>
                                        <input type="text" class="form-control " id="name" name="fname" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6">
                                        <label for="email">Email*</label>
                                        <input type="email" class="form-control " id="email" name="email" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6">
                                        <label for="mobile">Mobile Number</label>
                                        <input type="text" class="form-control " id="mobile" required>
                                        <div class="col-md-12 text-center">
                                            <button type="submit" id="download" name="mobile" class="btn btn-warning">Download</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="footer-padding">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>ADDRESS</h6>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br>
                                California, 94102.</em>
                        <p></p>
                        <p>
                            <font color="orange"><strong>Digital Lync</strong></font>
                            <br>
                            <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,<br>
                                    Hyderabad,<br>
                                    Telangana, 500008</em></p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                        <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                        <p><span class="head">Email:</span> info@digital-lync.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Carrers</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Contact Us</h6>
                        <form action="../scripts/basicContactForm.php" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="name" class="form-control" required placeholder="Enter Yout Name">
                                </div>
                                <div class="form-group">
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required placeholder="Message">
                                </div>
                                <button type="submit" class="btn btn-default">Send</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
