<!DOCTYPE html>
<html lang="en" ng-app="basic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Python Development | Digital-lync</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/courses.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container course-navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="../index.html" style="padding: 0px;margin: 0px;"><img id="logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab</a></li>
                            <li><a href="product.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>

                     <li class="dropdown social-icons">
                        <ul id="social-icons-black">
                            <li><a href="https://www.facebook.com/digitallync/"><img class="img-responsive icon-box19" src="../images/facebook-black.png"></a></li>
                            <li><a href="https://twitter.com/digitallync/"><img class="img-responsive icon-box19" src="../images/twitter-black.png"></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/10702035/"><img class="img-responsive icon-box19" src="../images/linkedIn-black.png"></a></li>   
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <section class="page-headers course-banner" style="background-image: url(../images/full-stack-banner.png); background-size: cover;">
        <h2 class="cap-padding text-center">Python Development</h2>
        <p class="para-style text-center">Python is a high level and object oriented scripting language. It is used as general purpose programming language. It is interpreted and interactive language. It has huge standard of libraries compared to all other languages.
            Python is dominantly used in Data sciences,Machine Learning,Deep Learning and Artificial Intelligence as a NexGen technology. </p>
    </section>
    <div class="container">
                <div class="mean-image" id="python-icon-list">

            <ul>
                <li>
                    <a href="datascience-course.html"><img src="../images/datascience-icon.png" class="img-responsive"></a>
                </li>
                <li>
                    <a href="python-course.html"><img src="../images/python-icon.png" class="img-responsive"></a>
                </li>
                <li>
                    <a href="django-course.html"><img src="../images/dj-icon.png" class="img-responsive"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <img src="../images/hrLine.png" class="img-responsive">
    </div>
    <section class="section-padding course-quest">
        <div class="container">
            <div class="row">
                <h6 class="pull-left">What is this course about ?</h6>
                <p class="pull-left">This course is focused to design to impart an in-depth knowledge of the various data analytic techniques which are performed using R. The course is designed with real time projects, case studies and R cloud labs to practise.</p>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="row">
            <div class="btn-enroll">
                <a href="connect.html">Enroll Now</a>
            </div>
        </div>
    </section>
    <section class="section-padding program-block">
        <div class="container program-syllabus" id="style-1">
            <div class="container programs">
                <h6>Program Syllabus</h6>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>PYTHON</h6>
                        <p>Data Visualization helps to deliver information clearly and efficiently to the users by using graphical data such as tables and charts. It helps to analyse the complex data in a simpler way. It makes large data more accessible, understandable and usable.</p>
                        <div class="row">
                            <a class="pointer dark-red download-Curriculum" data-toggle="modal" data-target="#myModal1">Download Curriculum</a>
                        </div>
                        <div id="myModal1" class="modal animated fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-body" style="overflow: hidden;">
                                        <form action="../scripts/downloadCurriculamForm.php" method="post">
                                            <div class="col-md-12 col-sm-12 ">
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="name">Name* </label>
                                                    <input type="text" class="form-control " id="name" name="fname" required>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="email">Email*</label>
                                                    <input type="email" class="form-control " id="email" name="email" required>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="mobile">Mobile Number</label>
                                                    <input type="text" class="form-control " id="mobile" required>
                                                    <div class="col-md-12 text-center">
                                                        <input type="submit" id="download" name="submit" class="btn btn-warning"></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>DJANGO</h6>
                        <p>Django is a Web Development Python Web Framework. It helps in building the Web Application with best quality FrameWork. Django supports MVC (Model-View-Controller) Pattern and MVT (Model-View-Template) Pattern. Django is written in pure Python Code.Django is stable and is constantly moving forth with new future and improvements.</p>
                        <div class="row">
                            <a class="pointer dark-red download-Curriculum" data-toggle="modal" data-target="#myModal2">Download Curriculum</a>
                        </div>
                        <div id="myModal2" class="modal animated fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-body" style="overflow: hidden;">
                                        <form action="../scripts/downloadCurriculamForm.php" method="post">
                                            <div class="col-md-12 col-sm-12 ">
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="name">Name* </label>
                                                    <input type="text" class="form-control " id="name" name="fname" required>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="email">Email*</label>
                                                    <input type="email" class="form-control " id="email" name="email" required>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="mobile">Mobile Number</label>
                                                    <input type="text" class="form-control " id="mobile" required>
                                                    <div class="col-md-12 text-center">
                                                        <input type="submit" id="download" name="submit" class="btn btn-warning"></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>AUTOMATION</h6>
                        <p>Angularjs is a Robust JavaScript Framework for dynamic web application. It is an Open source Application, easy to modify and shared with anyone. It is used to create RICH Internet Application (RIA).</p>
                        <div class="row">
                            <a class="pointer dark-red download-Curriculum" data-toggle="modal" data-target="#myModal3">Download Curriculum</a>
                        </div>
                        <div id="myModal3" class="modal animated fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-body" style="overflow: hidden;">
                                        <form action="../scripts/basicContactForm.php" method="post">
                                            <div class="col-md-12 col-sm-12 ">
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="name">Name* </label>
                                                    <input type="text" class="form-control " id="name" required>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="email">Email*</label>
                                                    <input type="email" class="form-control " id="email" required>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-6">
                                                    <label for="mobile">Mobile Number</label>
                                                    <input type="text" class="form-control " id="mobile" required>
                                                    <div class="col-md-12 text-center">
                                                        <button type="submit" id="download" class="btn btn-warning">Download</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row list-align">
                <div class="col-md-6 pull-left">
                    <div class="shadow">
                        <h6>Who can sign up for this course ?</h6>
                        <ul>
                            <li>Anyone with Graduate degree</li>
                            <li>Knowledge of using computers & different OS</li>
                            <li>Basic Coding skills</li>
                            <li>Familiar with Fundamental programming skills</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="shadow">
                        <h6>Career Options</h6>
                        <ul>
                            <li>Python programmer
                            </li>
                            <li>Research Analyst</li>
                            <li>Data Analyst</li>
                            <li>Software developer</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <section class="section-padding">
        <div class="container shadow">
            <div class="row list-align">
                <div class="col-md-6">
                    <h6>How are the courses taught ?</h6>
                    <ul>
                        <li>Over 10 years Real-Time experienced Faculty.</li>
                        <li>Provides Class room & Online sessions.</li>
                        <li>Project/Lab based training.</li>
                        <li>Structured learning with live projects from day one. </li>
                        <li>Internships are also available while pursuing College degree.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Weekly assessments.</li>
                        <li>State of the art class rooms.</li>
                        <li>Project/Lab based training.</li>
                        <li>Personality development program to face interviews easily. </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding review-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                    <h2 style="color: #ec5528;">STUDENT REVIEWS</h2>
                </div>
                <div class="col-md-9">
                    <section id="carousel">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                                        <!-- Carousel indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                                        </ol>
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <blockquote>
                                                    <p>Parallel Labs brought a fresh approach to design, considered practical use cases and had a completely hands-on approach in coming up with a great customer friendly design for our product. Overall we loved working with the team and we strongly recommend them for UI/UX design.</p>
                                                </blockquote>
                                                <div class="profile-circle" style="background-color: rgba(0,0,0,.2);">
                                                    <img src="../images/course2.png">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <blockquote>
                                                    <p>Parallel Labs brought a fresh approach to design, considered practical use cases and had a completely hands-on approach in coming up with a great customer friendly design for our product. Overall we loved working with the team and we strongly recommend them for UI/UX design.</p>
                                                </blockquote>
                                                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);">
                                                    <img src="../images/course2.png">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <blockquote>
                                                    <p>Parallel Labs brought a fresh approach to design, considered practical use cases and had a completely hands-on approach in coming up with a great customer friendly design for our product. Overall we loved working with the team and we strongly recommend them for UI/UX design.</p>
                                                </blockquote>
                                                <div class="profile-circle" style="background-color: rgba(145,169,216,.2);">
                                                    <img src="../images/course2.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe-section" class="subscribe-section  text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
        <div class="bg-overlay parallax img-responsive">
            <div class="section-padding">
                <div class="container">
                    <div class="wow animated fadeInUp" data-wow-delay=".5s">
                        <h2 class="section-title" style="color: white">GET IN TOUCH</h2>
                        <!-- /.section-description -->
                        <form class="subscribe" action="../scripts/basicContactForm.php" method="post">
                            <p class="alert-success"></p>
                            <p class="alert-warning"></p>
                            <div class="subscribe-hide">
                                <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" placeholder="Please enter you email" required>
                                
<input type="submit" id="subscribe-submit" name="submit" class="btn" style="color: black;"></input>
                                <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                                <div class="subscribe-error"></div>
                            </div>
                            <!-- /.subscribe-hide -->
                            <div class="subscribe-message"></div>
                        </form>
                        <!-- /.subscribe -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
        <!-- /.bg-overlay -->
    </section>
    <div class="footer">
        <div class="footer-padding">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>ADDRESS</h6>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br>
                                California, 94102.</em>
                        <p></p>
                        <p>
                            <font color="orange"><strong>Digital Lync</strong></font>
                            <br>
                            <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,<br>
                                    Hyderabad,<br>
                                    Telangana, 500008</em></p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                        <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                        <p><span class="head">Email:</span> info@digital-lync.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.facebook.com/digitallync/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/digitallync/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/10702035/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                            <li><a href="capabilities.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                            <li><a href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                            <li><a href="http://lyncschool.blogspot.in/"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                            <li><a href="connect.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Contact Us</h6>
                        <form action="../scripts/basicContactForm.php" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="sname" class="form-control" required placeholder="Enter Yout Name">
                                </div>
                                <div class="form-group">
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required placeholder="Message">
                                </div>
                                

<input type="submit" name="submit" class="btn btn-default"></input>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
