<!DOCTYPE html>
<html lang="en" ng-app="basic">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Courses:Visual Graphics</title>
    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/courses.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <nav id="header" class="navbar navbar-fixed-top nv-top" style="padding: 0px 36px;">
        <div id="header-container" class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand when-scroll" href="../index.html" style="padding: 0px;margin: 0px;"><img id="courses-logoBrand-black" src="../images/digi-blk.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right black-main-menu text-center">
                    <li class="dropdown active">
                        <a href="digital-academy.html" class="dropdown-toggle current">Academy</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <ul class="dropdown-menu" id="hoverclr">
                             <li><a href="about-us.html">About Us</a></li>
                            <li><a href="collab.html">Digital Collab</a></li>
                            <li><a href="product.html"> Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="capabilities.html" class="dropdown-toggle">Capabilities</a>
                    </li>
                    <li class="dropdown">
                        <a href="http://lyncschool.blogspot.in/" class="dropdown-toggle vagdevimainmenu">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="connect.html" class="dropdown-toggle vagdevimainmenu">CONNECT</a>
                    </li>
                </ul>
            </div>
            <!-- /.nav-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <section class="section-padding page-headers">
        <p class="cap-padding text-center">Visual Graphics</p>
        <p class="para-style text-center">We customize and create your digital needs to perfection. Digital Lync combines strategy, technology,
            <br> and creativity to engage customers and create inspiring experiences</p>
        <div class="container">
            <img src="../images/hrLine.png" class="img-responsive">
        </div>
        <div class="container">
            <div class="mean-image">
                <img src="../images/visual-design.png" class="img-responsive">
            </div>
        </div>
    </section>
    <section class="section-padding course-quest">
        <div class="container">
            <div class="row">
                <h6 class="pull-left">What is this course about ?</h6>
                <p class="pull-left">This course is the great introduction for both fundamental concepts and Visual Graphics. By the end of the course, you will be having sound knowledge on Visual Graphics.</p>
            </div>
            <div class="row list-align list-padding">
                <p>What you will learn ?</p>
                <ul>
                    <li>Learn to build the logic and write programs in Python using variables, operators, etc.</li>
                    <li>Be able to develop a program block using functions, to store data to file, dictionaries etc.</li>
                    <li>Know how to construct networked programs using web services and databases</li>
                    <li>Be able to identify basic building blocks of a programming language</li>
                    <li> Become proficient at handling files</li>
                    <li>Know how to store and manipulate data using dictionary and tuples</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row list-align">
                <div class="col-md-6 pull-left">
                    <div class="shadow">
                        <h6>Who can sign up for this course ? </h6>
                        <ul>
                            <li>Anyone with Graduate degree</li>
                            <li>Knowledge of using computers & different OS</li>
                            <li>Basic Coding skills</li>
                            <li>Hands on Photoshop would be beneficial</li>
                            <li>Need Text Here </li>
                            <li>Need Text Here </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 pull-right">
                    <div class="shadow">
                        <h6>Who can sign up for this course ? </h6>
                        <ul>
                            <li>Anyone with Graduate degree</li>
                            <li>Knowledge of using computers & different OS</li>
                            <li>Basic Coding skills</li>
                            <li>Hands on Photoshop would be beneficial</li>
                            <li>Need Text Here </li>
                            <li>Need Text Here </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container shadow">
            <div class="row list-align">
                <div class="col-md-6">
                    <h6>How are the courses taught ?</h6>
                    <ul>
                        <li>Over 10 years Real-Time experienced Faculty.</li>
                        <li>Provides Class room & Online sessions.</li>
                        <li>Project/Lab based training.</li>
                        <li>Structured learning with live projects from day one. </li>
                        <li>Internships are also available while pursuing College degree.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li>Over 10 years Real-Time experienced Faculty.</li>
                        <li>Provides Class room & Online sessions.</li>
                        <li>Project/Lab based training.</li>
                        <li>Structured learning with live projects from day one. </li>
                        <li>Internships are also available while pursuing College degree.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="row">
            <div class="btn-enroll">
                <a href="#">Enroll Now</a>
            </div>
        </div>
    </section>
    <section class="section-padding program-block">
        <div class="container program-syllabus" id="style-1">
            <div class="container programs">
                <h6>Program Syllabus</h6>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Photoshop</h6>
                        <p>Photoshop is a software used to enhance images, colours and also u can manipulate images.</p>
                        <div class="row">
                            <a data-toggle="collapse" data-target="#demo">View Cirriculum</a>
                            <div id="demo" class="collapse">
                                <ul>
                                    <li><a data-target="#cloudComputing" data-toggle="collapse">+ Module 1 – PhotoShop</a>
                                        <ul id="cloudComputing" class="collapse">
                                            <li>Basics of photoshop</li>
                                            <li>Photoshop Tools</li>
                                            <li>Photoshop – Workflow</li>
                                            <li>Photoshop Effects</li>
                                            <li>Branding</li>
                                            <li>UI Design in Photoshop</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>In Design</h6>
                        <p>InDesign is a software where you can set your printable layouts like newspapers, brochures, magazines.</p>
                        <div class="row">
                            <a data-toggle="collapse" data-target="#demo1">View Cirriculum</a>
                            <div id="demo1" class="collapse">
                                <ul>
                                    <li><a data-target="#Indesign" data-toggle="collapse">+ Module 1 – In Design</a>
                                        <ul id="Indesign" class="collapse">
                                            <li>Basics of Indesign</li>
                                            <li>Indesign Layouts</li>
                                            <li>Frames And Objects</li>
                                            <li>Working With Character and Paragraph styles</li>
                                            <li>Documents Formatting</li>
                                            <li>Indesign Graphics & Effects</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Illustrator</h6>
                        <p>Illustrator is a software where you can discover and create vector art, infographic style and Iconography.</p>
                        <div class="row">
                            <a data-toggle="collapse" data-target="#Illustrator">View Cirriculum</a>
                            <div id="Illustrator" class="collapse">
                                <ul>
                                    <li><a data-target="#Illustrator1" data-toggle="collapse">+ Module 1 – In Design</a>
                                        <ul id="Illustrator1" class="collapse">
                                            <li>Basics of Illustrator</li>
                                            <li>Controlling Adobe Illustrator</li>
                                            <li>Working With Shapes , Fills, Strokes</li>
                                            <li>Working Anchors and Paths</li>
                                            <li>Creating And Managing Vector Shapes</li>
                                            <li>Working With Images And Masks</li>
                                            <li>Moving From Raster To Vector</li>
                                            <li>Effects And The Appearance Panel</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row course-padding shadow">
                    <div class="col-md-3">
                        <img src="../images/intro-to-programming@3x.png">
                    </div>
                    <div class="col-md-9 cirricullam-heading">
                        <h6>Sketch</h6>
                        <p>Illustrator is a software where you can discover and create vector art, infographic style and Iconography.</p>
                        <div class="row">
                            <a data-toggle="collapse" data-target="#Sketch">View Cirriculum</a>
                            <div id="Sketch" class="collapse">
                                <ul>
                                    <li><a data-target="#Sketch1" data-toggle="collapse">+ Sketch</a>
                                        <ul id="Sketch1" class="collapse">
                                            <li>Introduction</li>
                                            <li>Layer basics</li>
                                            <li>Shapes</li>
                                            <li>Styling</li>
                                            <li>Text</li>
                                            <li>Images</li>
                                            <li>Symbols</li>
                                            <li>Work flow tips</li>
                                            <li>Exporting</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding review-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                    <h2 style="color: #ec5528;">STUDENT REVIEWS</h2>
                </div>
                <div class="col-md-9">
                    <section id="carousel">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                                        <!-- Carousel indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                                            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                                        </ol>
                                        <!-- Carousel items -->
                                        <div class="carousel-inner">
                                            <div class="active item">
                                                <blockquote>
                                                    <p>Parallel Labs brought a fresh approach to design, considered practical use cases and had a completely hands-on approach in coming up with a great customer friendly design for our product. Overall we loved working with the team and we strongly recommend them for UI/UX design.</p>
                                                </blockquote>
                                                <div class="profile-circle" style="background-color: rgba(0,0,0,.2);">
                                                    <img src="../images/course2.png">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <blockquote>
                                                    <p>Parallel Labs brought a fresh approach to design, considered practical use cases and had a completely hands-on approach in coming up with a great customer friendly design for our product. Overall we loved working with the team and we strongly recommend them for UI/UX design.</p>
                                                </blockquote>
                                                <div class="profile-circle" style="background-color: rgba(77,5,51,.2);">
                                                    <img src="../images/course2.png">
                                                </div>
                                            </div>
                                            <div class="item">
                                                <blockquote>
                                                    <p>Parallel Labs brought a fresh approach to design, considered practical use cases and had a completely hands-on approach in coming up with a great customer friendly design for our product. Overall we loved working with the team and we strongly recommend them for UI/UX design.</p>
                                                </blockquote>
                                                <div class="profile-circle" style="background-color: rgba(145,169,216,.2);">
                                                    <img src="../images/course2.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section id="subscribe-section" class="subscribe-section  text-center" data-stellar-background-ratio="0.1" data-stellar-vertical-offset="0">
        <div class="bg-overlay parallax img-responsive">
            <div class="section-padding">
                <div class="container">
                    <div class="wow animated fadeInUp" data-wow-delay=".5s">
                        <h2 class="section-title" style="color: white">GET IN TOUCH</h2>
                        <!-- /.section-description -->
                        <form class="subscribe" action="https://script.google.com/macros/s/AKfycbwwop37t3G5wF8gI0hDJ_u2G7tacDIC4qQyEvNmmM26T8AnTpM/exec" method="post">
                            <p class="alert-success"></p>
                            <p class="alert-warning"></p>
                            <div class="subscribe-hide">
                                <input class="subscribe-email" type="email" id="subscribe-email" name="subscribe-email" placeholder="Please enter you email" required>
                                <button type="submit" id="subscribe-submit" class="btn" style="color: black;">SEND</button>
                                <span id="subscribe-loading" class="btn"> <i class="fa fa-refresh fa-spin"></i> </span>
                                <div class="subscribe-error"></div>
                            </div>
                            <!-- /.subscribe-hide -->
                            <div class="subscribe-message"></div>
                        </form>
                        <!-- /.subscribe -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.section-padding -->
        </div>
        <!-- /.bg-overlay -->
    </section>
    <div class="footer">
        <div class="footer-padding">
            <div class="footer-links">
                <div class="row">
                    <div class="col-sm-3">
                        <h6>ADDRESS</h6>
                        <font color="orange"><strong>Digital Lync</strong></font>
                        <br>
                        <em>1 Hallidie Plaza<br>
                                Suite 404B,<br>
                                San Francisco,<br>
                                California, 94102.</em>
                        <p></p>
                        <p>
                            <font color="orange"><strong>Digital Lync</strong></font>
                            <br>
                            <em>Khajaguda, Naga Hills Rd,<br>
                                    Madhura Nagar Colony,<br>
                                    Gachibowli,<br>
                                    Hyderabad,<br>
                                    Telangana, 500008</em></p>
                    </div>
                    <div class="col-sm-3">
                        <h6>Reach</h6>
                        <p><span class="head">Mobile[IN]:</span> +91 70931 41616</p>
                        <p><span class="head">Mobile[USA]:</span> +1 (415)839-2126</p>
                        <p><span class="head">Email:</span> info@digital-lync.com</p>
                        <h6>Connect</h6>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.facebook.com/lyncdigital/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/lyncdigital/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/lyncdigital"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Links</h6>
                        <ul class="list-unstyled links">
                            <li><a href="capabilities.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Capabilities</a></li>
                            <li><a href="../index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Company</a></li>
                            <li><a href="http://lyncschool.blogspot.in/"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                            <li><a href="connect.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Connect</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h6>Contact Us</h6>
                        <form action="https://script.google.com/macros/s/AKfycbwwop37t3G5wF8gI0hDJ_u2G7tacDIC4qQyEvNmmM26T8AnTpM/exec" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" name="name" class="form-control" required placeholder="Enter Yout Name">
                                </div>
                                <div class="form-group">
                                    <label>Email address:</label>
                                    <input type="email" name="email" class="form-control" required placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Message:</label>
                                    <input type="text" name="message" class="form-control" required placeholder="Message">
                                </div>
                                <button type="submit" class="btn btn-default">Send</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
    <script type="text/javascript" src="../js/teamMemCarousel.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>
